@tailwind base;
@tailwind components;
@tailwind utilities;

:where(a) {
  display: block;
}

.wrapper {
  --gap: 20px;

  width: 100%;
  max-width: calc(theme('maxWidth.250') + var(--gap) * 2);
  padding-inline: var(--gap);
  margin-inline: auto;
}
